<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1 style="text-align: center">Welcome {{ username }} to Todotab</h1>
<div style="text-align: left">
    <p>Todotab will help you to track your work every single day professional. Best wish to
        you and enjoy your journey.</p>
    <p>Please activate your account by click to this link:
        <a href="{{ signedUrl }}">Activate Account</a>
    </p>
</div>
</body>
</html>
